body {
  font-family: Times New Roman, serif, Lato;
  background-color: rgb(52, 176, 128);
  background-image: url("./assets/backgrounds/back9.jpg");
}

h1 {
  color:rgb(52, 227, 29);
  text-align:center;
  font-size: 56px;
  font-style: oblique;
  font-weight: 500;
}
p {
  color: rgb(178, 249, 0);
  font-size: x-large;

}

marquee {
  color: rgb(238, 7, 45);
  font-size: 64px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
}
a:link {
  color: aqua;
}

a:hover{
  color: brown;
}

#danny {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 40px;

}
/* css for centering an image: */
#splash{
  display:block;
  width:300px;
  margin-left:auto;
  margin-right:auto;
}
